body {
    background-color: rgb(36, 36, 38);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.auction{
    position: relative;
    display: block;
    margin: 20px; 
    border: 1px solid rgb(105, 147, 255); 
    padding: 10px; 
    box-shadow: 5px 10px rgb(105, 147, 255);
    width: 90%;
    height: 200px;
}

.auction:hover{
    border: 1px solid rgb(255, 105, 105); 
    box-shadow: 5px 10px rgb(255, 105, 105);
}

a{
    color:rgb(105, 147, 255);
}

a:hover{
    color: rgb(255, 105, 105);
}


.category{
    overflow: hidden;
}

.category p{
    float: left;
    margin-right: 5px;
}


.category a{
    float: left;
    color: rgb(105, 147, 255);
}

.comment {
    display: block;
    border-top: 1px solid rgb(105, 147, 255);
    height: 120px;
    width: 100%;
}

.column {
    float: left;
    padding: 10px;
  }

.column.auction_description {
    width: 60%;
    }

  .column.bids {
    width: 40%;
    height: 600px;
    background-color: rgb(28, 28, 31);;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .rest{
    margin-top: 650px;
    display: block;
    width: 100%;
    position: relative;
}

.bid_history{
    overflow: auto;
    height: 500px;
}
  